{
  "presets": [["@babel/preset-env", {
    "useBuiltIns": "usage",
    "corejs": 2
  }], "@babel/preset-react"],
  "plugins": [
    ["import", {
      "libraryName": "antd",
      "libraryDirectory": "es",
      "style": true
    }],
    "react-hot-loader/babel",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import"
  ]
}